body {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
  font-size: 14px;
  background-color: #026aa7;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
  overflow-y: auto;
}

.board {
  min-width: 100%;
  white-space: nowrap;
  display: flex;
  margin-top: 45px;
  position: absolute;
}

.topIcons {
  padding: 13px 0px 7px 0px;
  overflow: hidden;
  position: fixed;
}

.topIcons span {
  display: inline;
}

.topHomeIcon {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 3px;
  border: 5px;
  color: #fff;
  font-size: 15px;
  height: 32px;
  margin: 4px;
  min-height: 32px;
  padding: 10px;
  line-height: 19px;
}

.topTrelIcon {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 3px;
  border: 5px;
  color: #fff;
  font-size: 15px;
  height: 32px;
  margin: 4px;
  min-height: 32px;
  padding: 10px;
  line-height: 19px;
}

.topSearchIcon {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 3px;
  border: 5px;
  color: #fff;
  font-size: 15px;
  height: 32px;
  margin: 4px;
  min-height: 32px;
  padding: 10px;
  line-height: 19px;
}

.input {
  background-color: rgba(231, 228, 228, 0.2);
}

.topTitleIcon {
  background-color: hsla(0, 0%, 100%, 0.02);
  border-radius: 3px;
  border: 5px;
  color: rgb(221, 215, 215);
  font-weight: bold;
  font-family: cursive;
  font-style: italic;
  font-size: 15px;
  height: 32px;
  align-items: center;
  margin-left: 25%;
  padding: 10px;
  line-height: 19px;
}

.topPlusIcon,
.topInfoIcon,
.topBellIcon {
  background-color: hsla(0, 0%, 100%, 0.3);
  border-radius: 3px;
  border: 5px;
  color: #fff;
  font-size: 15px;
  height: 32px;
  min-height: 32px;
  padding: 10px;
  line-height: 19px;
  margin-left: 15%;
}

.topPlusIcon {
  margin-right: -5%;
}

.topInfoIcon {
  margin-left: 5.3%;
}

.topBellIcon {
  margin-left: 0.2%;
}

.singleBoard {
  display: flex;
  align-items: flex-start;
}

.list {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  background-color: #dfe3e6;
  flex: 1 100%;
  box-shadow: 1px 1px 0 rgba(9, 45, 66, 0.5);
  border-radius: 4px;
  min-width: 300px;
  margin: 5px;
}

.listName {
  font-weight: bold;
  font-size: 16px;
  overflow: hidden;
  position: relative;
}

.item {
  padding: 1px;
  box-shadow: 0 1px 0 rgba(9, 45, 66, 0.25);
  overflow: hidden;
  margin: 8px 0px 8px 0px;
  cursor: pointer;
  background-color: white;
  padding: 5px;
  position: relative;
  border-radius: 3px;
}

/* .titles {
  
} */

.modal-backdrop.show {
  opacity: 0.2;
}

.detailsBox {
  background-color: #ebeef0;
}

.description {
  padding-bottom: 10px;
  margin: 10px;
  position: relative;
}

.comment {
  padding: 10px;
  margin: 10px;
  position: relative;
}

.icons:hover {
  opacity: 1;
}

.icons {
  background-clip: padding-box;
  background-origin: padding-box;
  position: absolute;
  right: -7px;
  top: -4px;
  opacity: 0.01;
  z-index: 40;
}

/* .cIcon {
  background-clip: padding-box;
  background-origin: padding-box;
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 1;
  z-index: 40;
}

.dIcon {
  background-clip: padding-box;
  background-origin: padding-box;
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 1;
  z-index: 40;
} */

.lIcon {
  background-clip: padding-box;
  background-origin: padding-box;
  position: absolute;
  right: -10px;
  top: -12px;
  opacity: 0.01;
  z-index: 40;
}

.icon:hover {
  opacity: 1;
}

.lIcon:hover {
  opacity: 1;
}

.icon {
  transform: scale(0.6);
}

.cardTitle {
  display: inline-block;
  font-size: 15px;
  padding: 0 0 5px 5px;
}

.createCard {
  padding: 10px 0px 0px 8px;
  color: rgba(61, 66, 66, 0.7);
}

.createList {
  color: rgb(243, 235, 235);
  background-color: rgba(0, 0, 0, 0.12);
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  box-shadow: 1px 1px 0 rgba(9, 45, 66, 0.5);
  border-radius: 4px;
}

.newList {
  flex: 1 100%;
  min-width: 300px;
  max-width: 300px;
  margin: 5px;
}
